{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1><p class="text-center">Konto użytkownika {{ app.session.get('user') }}</p></h1>
            <div class="row">
                <table class="table table-condensed">
                  <tr>
                      <td>Użytkownik</td>
                      <td></td>
                      <td>{{ app.session.get('user')}}</td>
                  </tr>
                    <tr>
                        <td>Hasło</td>
                        <td>********</td>
                        <td><a href="/test/web/app_dev.php/edit_user_data">Zmień</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ email }}</td>
                        <td><a href="/test/web/app_dev.php/edit_user_data">Zmień</a></td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td>{{ address }}</td>
                        <td><a href="/test/web/app_dev.php/edit_user_data">Zmień</a></td>
                    </tr>
                    <tr>
                        <td>Numer telefonu</td>
                        <td>{{ number }}</td>
                        <td><a href="/test/web/app_dev.php/edit_user_data">Zmień</a></td>
                    </tr>
                    <tr>
                        <td>Avatar</td>
                        <td><img style="height: 100px" src="{{ asset('uploads/avatars/') }}{{ app.session.get('user') }}.jpg" </td>
                        <td><a href="/test/web/app_dev.php/edit_user_data">Zmień</a></td>
                    </tr>
                    {% if app.session.get('lvl') > 99 %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </table>
                        <h2><p class="text-center">Panel Administracyjny</p></h2>
                        <div class="row">
                           <a href="{{ path('product_add') }}" <button class="btn btn-default" type="button">Dodaj produkt</button></a>
                        </div>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>

{% endblock %}